.Container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .PageContent {
        margin-top: 3vh;

        width: 60%;
        min-height: 47vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
}