$container-width: 15vw;

.Container {
    width: $container-width;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;

    background: rgb(212, 212, 212);
    
    transition: all .5s ease-in-out;

    &:hover {
        background: rgb(174, 174, 174);
        transform: translateY(-3px);
        cursor: pointer;
    }

    .ImageContainer {
        width: $container-width;
        height: 15vh;
        
        overflow: hidden;

        position: relative;

        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        .Image {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center;
        }
    }


    .ProductInfo {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        width: 14vw;
        height: 27vh;

        .Name {
            font-size: 1.3rem;
            height: 8vh;

            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .Price {
            font-size: 1.8rem;
            font-weight: bold;
            height: 4vh;
        }

        .Location {

            height: 4vh;
            display: flex;
            align-items: center;

            font-size: larger;

            .Pin {
                width: 2vw;
                height: 2vw;
            }
        }
    }

}