@use '../../assets/scss/variables' as *;

.Container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .Favourites {
        width: 90%;
        margin-top: 3vh;

        .TopSection {
            width: 100%;

            display: flex;
            justify-content: space-between;

            .Title {
                color: $primary-color
            }
        }

        .ProductsArea {
            padding: 1.5rem;

            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
        }
    }
}