.Container {
    width: 100%;
    height: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "profile name"
        "cpf phone"
        "born born";
    ;
    place-items: center;

    .InputGroup {
        width: 70%;
        height: 10vh;

        display: flex;
        flex-direction: column;
    }

    .ProfilePic { grid-area: profile }
    .Name     { grid-area: name; }
    .Cpf      { grid-area: cpf; }
    .Phone    { grid-area: phone; }
    .BornDate { grid-area: born; }
}