@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.Container {
    width: 100%;
    height: 12vh;

    z-index: 9998;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;

    border-bottom: 2px solid black;

    background: white;

    position: fixed;
    top: 0;
    left: 0;

    .Left {
        width: 20vw;
        height: 8vh;

        .LeftImage {
            width: 4vw;
            height: 4vw;
        }
    }

    .Center {
        width: 20vw;
        height: 60%;

        position: relative;

        .Input {
            width: 100%;
            height: 100%;

            background: $input-background;
            border: 0;
            border-radius: 4vh;
            outline: none;

            padding: 0 2vw;
        }

        .SearchImage {
            width: 3vh;
            height: 3vh;

            position: absolute;
            right: 1.2vw;
            top: 50%;

            transform: translateY(-50%);

        }
    }

    .Right {
        width: 20vw;
        height: 8vh;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .Announce {
            @include primary-button;

            width: 8vw;
            height: 5vh;

            border-radius: 3vh;
            border: 0;

            &:hover {
                cursor: pointer;
            }
        }

        .Login {
            @include secondary-button;

            width: 8vw;
            height: 5vh;

            border-radius: 3vh;

            display: flex;
            align-items: center;
            justify-content: center;

            text-decoration: none;
            color: $primary-color;
        }
    }
}