@use '../../../assets/scss/variables' as *;
@use '../../../assets/scss/mixins' as *;

.Container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    .Form {
        width: 50vw;
        height: 55vh;
        
        margin: 10vh auto;
        
        padding: 30px;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;

        .Input {
            height: 7vh;
            width: 14vw;
            padding: 0 1vw;
            border: 1px solid transparent;
            border-radius: 12px;
        
            background-color: #f8f8f8;
            font-size: 1rem;
            color: #2c2c2c;

            
            transition: border 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
            
            &:hover {
                cursor: pointer;
                background-color: #f2f2f2;
                border-color: #ddd;
            }
        
            &:focus {
                background-color: #fff;
                border-color: #DDA04B;
                outline: none;
                box-shadow: 0 0 0 3px rgba(221, 160, 75, 0.2);
            }
        
            &::placeholder {
                color: #aaa;
                transition: color 0.3s ease;
            }
        
            &:focus::placeholder {
                color: #bbb;
            }

            &.InputTitle {
                width: 30vw;
            }
        }
    }

    .Next {
        @include primary-button;
        width: 8vw;
        height: 5vh;

        border-radius: 10px;

        transition: all .2s ease-in-out;
        outline: none;

        &:hover {
            cursor: pointer;
            background-color: darken(#DDA04B, 5%);
            border-radius: 5px;
        }
    }

    .Prev {
        @include secondary-button;
        width: 8vw;
        height: 5vh;

        border-radius: 10px;

        transition: all .2s ease-in-out;
        outline: none;

        &:hover {
            cursor: pointer;
            border-radius: 5px;
        }
    }

    .ImagesForm {
        width: 50vw;
        height: 55vh;
        
        margin: 10vh auto;
        
        padding: 30px;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;
    }

    .ButtonContainer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.75rem;

        grid-area: next;
    }
}


