@use '../../assets/scss/variables' as *;

.categoriasContainer {
  width: 80vw;
  height: 50px;
  margin: 0 auto;
  background-color: $primary-color;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;

  margin-top: 3vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 18px;

  overflow-x: scroll;

  .categoriaItem {
    background-color: white;
    height: 38px;
    border: none;
    border-radius: 38px;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 0.85rem;
    color: #333;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;

    text-decoration: none;
    font-size: 1rem;
  
    &:hover {
      background-color: #ffd38d;
      transform: translateY(-2px);
    }

    .categoriaIcon {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}