@use './variables' as *;

@mixin primary-button {
    background-color: $primary-color;
    text-transform: uppercase;
    color: white;
    border: 0;

    &:hover {
        cursor: pointer;
        background-color: darken(#DDA04B, 5%);
        border-radius: 5px;
    }
}

@mixin secondary-button {
    border: 2px solid $primary-color;
    text-transform: uppercase;
    color: $primary-color;

    &:hover {
        cursor: pointer;
        border-radius: 5px;
    }
}

@mixin tertiary-button {
    background-color: transparent;
    text-transform: uppercase;
    color: $primary-color;
    border: 0;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        background-color: rgba($primary-color, 0.05);
        border: 2px solid $primary-color;
    }
}
