.InputContainer {
    width: clamp(320px, 55%, 700px);
    height: 60vh;
    display: flex;
    flex-direction: column;

    .InputArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "cep neighborhood"
        "road road"
        "number complement"
        "city state";
    gap: 1rem;

    .InputGroup {
        display: flex;
        flex-direction: column;

        .Input {
        width: 100%;
        height: 8vh;
        background-color: #bcbcbc;
        border: none;
        outline: none;
        padding: 0 1vw;
        border-radius: 10px;
        transition: border-radius 0.3s ease;

        &:focus {
            border-radius: 5px;
        }
        }
    }

    .Road      { grid-area: road; }
    .Number    { grid-area: number; }
    .Complement{ grid-area: complement; }
    .Cep       { grid-area: cep; }
    .Neighborhood { grid-area: neighborhood; }
    .City      { grid-area: city; }
    .State     { grid-area: state; }
    }
}
