@use '../../../../assets/scss/mixins' as *;

.Buy {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #DDA04B;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &:hover {
        background-color: darken(#DDA04B, 8%);
        transform: scale(1.02);
        cursor: pointer;
    }
}

.Icon {
    width: 20px;
    height: 20px;
}

.Overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    inset: 0;
}

.DialogContent {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    width: 90%;
    max-width: 400px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.DialogTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}

.DialogDescription {
    margin-bottom: 16px;
    text-align: center;
}

.DialogActions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .6rem;
}

.GoToCart,
.ContinueShopping {
    flex: 1;
    padding: .8rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.GoToCart {
    @include primary-button;
    transition: all .2s ease-in-out;
}

.ContinueShopping {
    background-color: #6c757d;
    color: white;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: darken(#6c757d, 5);
    }

}
