.Container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .Form {
        width: 50vw;
        height: 60vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3vh;

        .Title {
            color: #DDA04B;
        }

        .Login {
            width: 40%;
            height: 8vh;
            
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            border-radius: 10px;

            transition: all .5s ease-in-out;

            text-decoration: none;

            &:hover{
                cursor: pointer;
                border-radius: 5px;
            }
        }

        .ButtonsArea {

            display: flex;
            align-items: center;
            justify-content: space-evenly;
    
            margin-top: 3vh;
    
            .Prev {
                width: 40%;
                height: 7vh;
                
                display: flex;
                align-items: center;
                justify-content: space-evenly;
    
                border: 2px solid #DDA04B;
                border-radius: 10px;
    
                transition: all .5s ease-in-out;
    
                color: #DDA04B;
                text-decoration: none;
    
                &:hover{
                    cursor: pointer;
                    border-radius: 5px;
                }
            }
    
            .Next {
                width: 40%;
                height: 7vh;
    
                background-color: #DDA04B;
    
                border: 0;
                border-radius: 10px;
                font-size: larger;
    
                transition: all .5s ease-in-out;
    
                color: white;
    
                &:hover{
                    cursor: pointer;
                    border-radius: 5px;
                }
            }
        }
    }   
}

.Error {
    color: red;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px rgb(188, 188, 188) inset !important;
    -webkit-text-fill-color: #000 !important;
}
  